<!-- prettier-ignore -->

<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h2 class="mb-3">
        {% if dash_type == 'tables': %}Minhas Tabelas de "{{ sheet_name }}" {% else %} Minhas Planilhas: {%endif %}
      </h2>
      {% for dash_info in dash_infos %}
      <div class="card mb-3">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <h5 class="card-title">{{ dash_info.name }}</h5>
            <div class="text-right">
              
              <form method='post' action={% if dash_type == 'sheets': %}"{{url_for('delete_sheet', sheet_id=dash_info.id)}}"{% else %}"{{url_for('delete_table', table_id=dash_info.id)}}"{% endif %}>
                <button type="submit" class="btn btn-link">
                  <i class="fa-solid fa-minus text-danger"></i> Remover
                </button>
              </form>

              <a href={% if dash_type == 'sheets': %}"{{url_for('edit_sheet', sheet_id=dash_info.id)}}"{% else %}"{{url_for('edit_table', table_id=dash_info.id)}}"{% endif %}>
                  <i class="fa-solid fa-pen-to-square"></i></i>Editar
              </a>

            </div>
          </div>
          <p class="card-text">{{ dash_info.description }}</p>
          <a
            href="{{ url_for('tables', sheet_id=dash_info.id) }}"
            class="btn btn-primary"
            >{% if dash_type == 'sheets': %}Ver as Tabelas{% else %}Inserir registro{%
            endif %}
          </a>
        </div>
      </div>
      {% endfor %} 
    </div>
  </div>
</div>
