<!-- prettier-ignore -->


{% extends 'partials/base.html' %} 

{% block title %}Dashboard{% endblock title %} 

{% block content %}

    <div class="container-fluid container m-auto">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center mt-3 mb-3">
                <a href="{{url_for('home')}}">Dashboard</a>
                </h1>
            </div>
        </div>
        <div class="row text-right">
            <div class="col-12">
                <a href={% if dash_type == 'sheets': %}"{{url_for('create_sheet')}}"{% else %}"{{url_for('create_table', sheet_id=sheet_id)}}"{% endif %}><i class="fa-solid fa-plus"></i>Adicionar</a>
            </div>
        </div>

        {% include 'partials/dashboard.html' %} 

    </div>

    
{% endblock content %}
