<!-- prettier-ignore -->

{% extends 'partials/base.html' %}

{% block title %}Form{% endblock title %}

{% block content %}

<div class="container">
  <h4 class="mt-3"><a href="{{url_for('home')}}"><i class="fa-solid fa-house"></i></a></h4>

  <h1 class="my-3">Adicionar Registro</h1>

  <form method='POST' action="{{ url_for('add_gsheet', table_name=table_name, sheet_id=sheet_id) }}">
    
    {% for column in columns: %}
      <div class="form-group">
        <label for="{{ column }}"><strong>{{ column }}</strong></label>

        {% if columns_type.get(column) == 'textarea': %}
          <textarea type="text" class="form-control" id="{{ column }}" name="{{ column }}"></textarea>
        {% elif columns_type.get(column)  == 'options': %}
        <select class="form-control" id="{{ column }}" name="{{ column }}">
          {% for option in option_data.get(column) %}
            <option value="{{ option }}">{{ option }}</option>
          {% endfor %}
        </select>         
        {% else %}
          <input type="{{ columns_type.get(column, "text") }}" class="form-control" id="{{ column }}" name="{{ column }}"/>
        {% endif %}

        {% if last_result: %}    
          <p><i>{{ last_result[loop.index0] }}</i></p>
        <hr>
        {% endif %}
        
      </div>
    {% endfor %}

    <button type="submit" class="btn btn-primary my-5">Adicionar</button>
  </form>
</div>
{% endblock content %}
